
.form-item{
        display: flex;
        justify-content: space-between;
        align-items: start;
}
.pranav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
}